<!DOCTYPE html>
<html>
  <head>
    <title>日报系统索维智能学院</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="/javascripts/jquery-2.1.4.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <meta name="viewport" content="width=500, initial-scale=1, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <style>
        .headStyle{
             height: 2.5em;
             margin-top:6px;
        }
   </style>
  </head>
  <body>
        <div class="row">
          <div class="col-sm-12 col-xs-40 headStyle" style='text-align: center'>
         <ul class="nav nav-pills nav-stacked">
        <li class="active" id="hed" style="text-align: center; font-size: 30px">
        <a href="#">第<%-answerRs.id%>题 <div style="font-size: 10px">系统为匿名,请根据实际情况放心填写</div> </a>
      </li>
         </ul>
         <form name='resultForm' action='/result' method="post">
         <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">单选题</a>
               <a class="navbar-brand" href="#" style="position: fixed;left: 49%"><%-answerRs.id%>/5</a>
          </div> 
        </div>
      </nav>
          <div class="container" style="width:auto;height:auto;border:2px solid #CDCDC1;border-radius:5px">
            <div class="row" style="margin-top: 2%;">
                  <h3 style="margin-top: 10px; font-size: 35px"><%-answerRs.problem%></h3>
                  <hr style="margin-top:10px;height:2px;border:0px;background-color:#D5D5D5;color:#D5D5D5;"/>
              <div class="row" style="margin-left:20%">
                  <div class="col-md-1 col-xs-1">
                  <input type="radio" name="options" id="options"  value="A" >
                  </div>
                  <div class="col-md-4 col-xs-4" style="font-size: 20px;text-align: left; font-size:26px">
                  <%-answerRs.A%>
                  </div>
                  <div class="col-md-7 col-xs-7" >
                  <div class="col-md-1  col-xs-1">
                  <input type="radio" name="options" id="options"  value="B" >
                  </div>
                  <div class="col-md-6  col-xs-6" style="font-size:26px;text-align: left;">
                  <%-answerRs.B%>
                  </div>
                  </div>
             </div>
          <div class="row" style="margin-top: 10%; margin-left:20%;margin-bottom: 3%">
                  <div class="col-md-1  col-xs-1">
                  <input type="radio" name="options" id="options"  value="C" >
                  </div>
                  <div class="col-md-4  col-xs-4" style="font-size:26px;text-align: left;">
                  <%-answerRs.C%>
                  </div>
                  <div class="col-md-7  col-xs-7">
                    <div class="col-md-1  col-xs-1">
                  <input type="radio" name="options" id="options"  value="D" >
                  </div>
                  <div class="col-md-6  col-xs-6" style="font-size:26px;text-align: left;">
                  <%-answerRs.D%>
                  </div>
                  <input type='hidden' name='topic' value="<%-answerRs.id%>">
                  </div> 
               </div>
             </div>
           </div>

                <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 3%;margin-left: 20px; width: 30%; ">下一题</button>
               </form>
     </div>
         </div>   
        
</body>
</html>